@font-face {
    font-family: Nunito1;
    src: url(fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf);
}
@font-face {
    font-family: Nunito2;
    src: url(fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
}

* {
    margin: 0;
}

body {
	margin: 0;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	height: 100vh;
    gap: 10px;
    background-color: #D5E1EF;
}

#content{
    border-radius: 20px;
    background-color: white;
    width: 320px;
    height: 499px;
    text-align: center;
}

.qr{
    border-radius: inherit;
    width: 288px;
    height: 288px;
    margin-top: 16px;
}

#text{
    width: 288px;
    height: 131px;
    margin: auto;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.text1{
    font-family: Nunito1;
    color: #1F314F;
    margin-bottom: 16px;
    font-size: 20px;
}

.text2{
    font-family: Nunito2;
    color: #68778D;
    font-size: 16px;
}

.attribution{
    font-size: 11px;
    text-align: center;
    font-family: Nunito2;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}